.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.movie-container {
  background-color: rgb(247, 246, 245);
  width: 340px;
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}
.add-movie-form{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 350px;
  gap: 1rem;
}

.err{
   padding-left: 35%;
}
.no-404{
   text-align: center;

}
.movie-detaile{
  max-height: 700px;
  padding: 15px;
}
.cini{
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}


